public
.hugo_build.lock
v1/node_modules
v1/package-lock.json
v1/package.json
v1/public
v1/optimize-images.js
v1/static/img_backup_original
delete-unused-images.ps1
unused-images.txt
v1/find-unused-css.js
v1/unused-css-report.md
v1/themes/hugo-universal-theme/static/css/style.blue.css.cleaned-preview.css
v1/themes/hugo-universal-theme/static/css/style.blue.css.removed-selectors.md